body,
html,
.container {
    height: 100%;
}
.container {
    width: 100%;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.75);
}
.fixed_bg {
    min-height: 100%;
    background-size: cover;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.row.fixed_bg.bg_img_1 {
    background-image: url(../img/macbg.jpg);
    width: 100%;
}
.row.fixed_bg.bg_img_2 {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/T2oGAUXFpaXXXXXXXX_!!1776056003.jpg);
    /*    width: 100%;*/
}
.scroll-bg {
    min-height: 80%;
}
.navbar {
    width: 100%;
}
#header {
    background: #333;
    width: 100%;
    display: block;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    height: 50px;
    border-bottom: #252525 2px solid;
}
a {
    text-align: left;
    text-decoration: none;
    font-weight: 300;
}
#nav {
    padding-top: 15px;
    text-align: center;
    margin: 0px auto;
    font-size: 0.8em;
    font-weight: 700;
}
#nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
}
#nav li {
    margin-right: 0px;
    display: inline;
}
#nav ul li a {
    text-decoration: none;
    margin: 0px;
    padding: 10px 20px 0px 15px;
    color: #808080;
}
#nav ul li a:hover {
    color: #cccccc;
    text-decoration: none;
}
#nav li.current-menu-item a {
    color: #ffffff;
    text-decoration: none;
}
#nav li.current_page_item {
    color: #ffffff;
    text-decoration: none;
}

/*********
******Background image
in header*********/


/*The navigation bar */


/************Placing the text-content-paper on the notepad in image ****************/

.content_paper_nme {
    width: 100%;
    height: 500px;
    padding-top: 10%;
    /*    font-size: 3.5em;*/
    font-weight: 700;
    /*    font-family: cursive;*/
    text-transform: uppercase;
    color: #e67e22;
    text-align: center;
}
span {
    color: whitesmoke;
    font-size: .7em;
}

/*hr css animation */

hr {
    width: 50%;
}
.right {
    left: auto;
    right: 0px;
}
hr#thread1 {
    top: 0.8em;
    border-color: #e67e22;
    -webkit-animation: thread2 6s infinite;
    -moz-animation: thread2 6s infinite;
    -o-animation: thread2 6s infinite;
    animation: thread2 6s infinite;
}
hr#thread3 {
    top: 2.8em;
    border-color: #e67e22;
    -webkit-animation: thread2 6s infinite;
    -moz-animation: thread2 6s infinite;
    -o-animation: thread2 6s infinite;
    animation: thread2 6s infinite;
}
@media (min-width: 992px) {
    hr {}
}
@media (min-width: 1200px) {
    hr {}
}
@-webkit-keyframes thread2 {
    0% {
        width: 100%;
    }
    50% {
        width: 100%;
    }
    80% {
        width: 0px;
    }
    100% {
        width: 100%;
    }
}
@-moz-keyframes thread2 {
    0% {
        width: 100%;
    }
    50% {
        width: 100%;
    }
    80% {
        width: 0px;
    }
    100% {
        width: 100%;
    }
}
@-o-keyframes thread2 {
    0% {
        width: 100%;
    }
    50% {
        width: 100%;
    }
    80% {
        width: 0px;
    }
    100% {
        width: 100%;
    }
}
@keyframes thread2 {
    0% {
        width: 100%;
    }
    50% {
        width: 100%;
    }
    80% {
        width: 0px;
    }
    100% {
        width: 100%;
    }
}

/* End ....hr css animation */

@import "compass/css3";
@include keyframes(bounce) {
    0%,
    20%,
    50%,
    80%,
    100% {
        @include transform(translateY(0));
    }
    40% {
        @include transform(translateY(-30px));
    }
    60% {
        @include transform(translateY(-15px));
    }
}
.arrow {
    position: fixed;
    bottom: 0;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    height: 40px;
    background-image: url(../img/arrows.svg);
    background-size: contain;
}
.bounce {
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

/*added the bouncing arrow using keyframes*/


/*The second row*/

.second {
    /*
    width: 100%;
    height: 300px;
*/
    background-color: antiquewhite;
}
.circle {
    background-image: url(../img/SAM_4079.JPG);
    display: block;
    width: 200px;
    height: 200px;
    margin: 1em auto;
    background-size: cover;
    border: 5px solid #eee;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-border-radius: 99em;
    -moz-border-radius: 99em;
    border-radius: 99em;
}
.about {
    padding-top: 2%;
    text-transform: uppercase;
    font-family: 'Teko', sans-serif;
    font-size: 3em;
    color: #e67e22;
    text-align: center;
}
.text {
    text-align: center;
    color: #292929;
    font-size: 1.3em;
    font-family: 'Teko', sans-serif;
}
.nav_social ul {
    list-style-type: none;
}
.nav_social li {
    list-style-type: none;
    text-decoration: none;
    display: inline-block;
    padding-right: 6px;
}
.nav_social li a {
    text-decoration: none;
}
.nav_social .fa {
    color: #e67e22;
}
.follow {
    padding-left: 6%;
    color: snow;
    text-transform: uppercase;
}

/********  social media icons hover effects *****/

.fa-google-plus-square:hover {
    color: #dd4b39;
}
.fa-twitter-square:hover {
    color: #00aced;
}
.fa-pinterest-square:hover {
    color: #cb2027;
}
.fa-facebook-square:hover {
    color: #3b5998;
}

/********  End hover effects *****/


/*second column in second row*/

.skill {
    font-family: 'Teko', sans-serif;
    color: #e67e22;
    font-size: 30px;
}
.text ul {
    text-decoration: none;
}
.text ul li {
    list-style-type: none;
    text-decoration: none;
}
.text ul li a {
    font-family: 'Teko', sans-serif;
    text-decoration: none;
}

/*****Row three *****/

.three {
    width: 100%;
    background-color: snow;
}
.port,
.skillset {
    color: #e67e22;
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: 'Teko', sans-serif;
}
img {
    width: 300px;
    height: 210px;
}

/*
.thumbnail {
    border: 8px solid grey;
}
*/


/* row four containing blog post and stuff*/

.four {
    height: 320px;
    width: 100%;
    background-color: white;
    padding-top: 1%;
    padding-left: 7%;
    padding-right: 5%;
}
.blogger {
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
.header {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
.formcont {
    height: 180px;
}
.cont {
    font-family: 'Teko', sans-serif;
    font-size: 0.9em;
    color: black;
    text-align: left;
}
.border2 {
    background-color: white;
    padding-top: 4%;
    margin-top: 6%;
    width: 95%;
    border: 8px solid white;
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, .8);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .8);
}

/*row five*/

.skillsetter {
    padding-top: 10%;
    text-align: center;
}
.skillsetter h3 {
    text-transform: uppercase;
    color: #e67e22;
    font-family: 'Teko', sans-serif;
    text-align: center;
    padding-left: 30%;
    width: 100px;
}

/******************
.inform {
    font-size: 20px;
    padding-top: 2%;
    text-transform: uppercase;
    color: snow;
    font-family: 'Teko', sans-serif;
    text-align: center;
*******/


}
.formcont {
    margin-top: 10%;
    width: 100%;
    background: #181b31;
    color: #fff;
    font: 300 1.25em "Open Sans", sans-serif;
    margin: 0 1em;
    max-width: calc(100% - 7em);
    padding: 2em calc(50% - 16em);
}
h2 {
    margin: 0 0 0.25em;
    font-size: 2em;
    font-weight: 300;
}
form {
    position: relative;
}
textarea {
    resize: none;
}
input,
textarea {
    background: transparent;
    border: 0;
    box-sizing: border-box;
    color: inherit;
    margin: 0.5em 0;
    padding: 0.5em;
    width: 100%;
    &:focus {
        outline: 0;
    }
}
label {
    position: absolute;
    left: 0;
    width: 100%;
    &::before,
    &::after {
        border-width: 1px;
        border-style: solid;
        content: ' ';
        pointer-events: none;
        position: absolute;
        transition: 0.75s;
        width: 5%;
        height: 2.25em;
        z-index: 1;
    }
    &::before {
        border-right: 0;
    }
    &::after {
        border-left: 0;
        right: 0;
    }
}
.label-text {
    background: #181b31;
    display: block;
    padding: 0.5em 1em;
    position: absolute;
    right: 0;
    transition: 1s;
    &::after {
        border-top: 1px solid;
        content: ' ';
        display: block;
        transition: 1s;
    }
}
input:focus,
textarea:focus {
    & + label::before,
    & + label::after {
        width: 50%;
    }
    & + label .label-text {
        transform: translate3d(100%, 0, 0);
    }
    & + label .label-text::after {
        transform: translate3d(-100%, -0.75em, 0);
        width: 1em;
    }
}
#n {
    color: #09805c;
}
#e {
    color: #07c83e;
}
#n:focus,
label::before,
#n:focus,
label::after {
    border-color: #09805c;
}
#e:focus,
label::before,
#e:focus,
label::after {
    border-color: #07c83e;
}
.name {
    color: #09805c;
    top: 0.5em;
    &::before,
    &::after {
        border-color: rgba( #09805c, 0.3);
        top: 0;
    }
}
.email {
    color: #07c83e;
    top: 3.85em;
    &::before,
    &::after {
        border-color: rgba(#07c83e, 0.3);
        top: 0;
    }
}
#m {
    height: 8em;
}
.message {
    color: #575b8e;
    top: 7.25em;
    &::before,
    &::after {
        height: 8em;
    }
}
.button {
    color: #e9165d;
    border: 1px solid;
    position: relative;
    transition: 0.3s;
    &:hover {
        background: rgba( #e9165d;
        , 0.2);
    }
}
@media (min-width: 660px) and (max-width: 856px) {
    body {
        max-width: calc(100% - 12em);
    }
}
.iconic {
    width: 100px;
    height: 100px;
    text-align: center;
}

/*row form */
.formset h2 {
    text-transform: uppercase;
    color: #e67e22;
    font-family: 'Teko', sans-serif;
}
.formset {
    background-color: gray;
    border-radius: 20px;
    margin-top: 20px;
    padding-top: 2%;
}
.footer {
    width: 100%;
    height: 100px;
    opacity: 0.9;
    background-color: #292929;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    bottom: 0pt;
    left: 0pt;
}
.copy {
    color: color: #e67e22;
    text-align: center;
}

/***Blog page css stars  here ****/
.blog1 {
    height: 250px;
    width: 100%;
}
.white {
    height: 250px;
}
.inspire {
    text-transform: uppercase;
    color: snow;
    font-family: 'Teko', sans-serif;
}
.white ul {
    text-decoration: none;
}
.white ul li {
    display: inline-block;
    list-style-type: none;
    text-decoration: none;
    padding-top: 4%;
    float: right;
    padding-right: 5%;
    font-size: 50px;
}

/*****second row with
heading of blog post******/
.black {
    font-size: 300%;
    padding-left: 22%;
    padding-top: 4%;
    color: black;
    font-family: 'Josefin Sans', sans-serif;
}
.blog2 {
    width: 100%;
    height: 220px;
    background-color: aliceblue;
}
.poster {
    height: 220px;
}

/*****third row with
heading of blog post******/
.blog3 {
    width: 100%;
    height: 700px;
    background-color: aliceblue;
    padding-left: 8%;
}
.intro {
    height: auto;
}
.date {
    color: black;
    font-size: 120%;
}
.owner {
    font-family: 'Teko', sans-serif;
    color: #e67e22;
    font-size: 100%;
}
