@import url(http://fonts.googleapis.com/css?family=Bree+Serif);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
body,
html,
.container {
    height: 100%;
}
.container {
    width: 100%;
}

/*
.overlay {
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    height: 50%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.75);
}
*/

.fixed_bg {
    min-height: 100%;
    background-size: cover;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.row.fixed_bg.bg_img_1 {
    background-image: url(../img/macbg.jpg);
    width: 100%;
}
.row.fixed_bg.bg_img_2 {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/T2oGAUXFpaXXXXXXXX_!!1776056003.jpg);
    /*    width: 100%;*/
}
.scroll-bg {
    min-height: 80%;
}

/*menu styling */

.menu {
    position: relative;
    line-height: 1;
    z-index: 5;
    margin: 0 auto;
}
.menu__list {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu__item {
    display: block;
    margin: 5em 0;
}
.menu__link {
    font-size: 1.05em;
    font-weight: bold;
    display: block;
    padding: 1em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.menu__link:hover,
.menu__link:focus {
    outline: none;
}
.menu--sebastian .menu__link {
    position: relative;
    display: block;
    margin: 0 1em;
    text-align: center;
    color: #929292;
    -webkit-transition: color 0.4s;
    transition: color 0.4s;
}
.menu--sebastian .menu__link:hover,
.menu--sebastian .menu__link:focus {
    color: #fff;
}
.menu--sebastian .menu__item--current .menu__link {
    color: #d94f5c;
}
.menu--sebastian .menu__link::before,
.menu--sebastian .menu__link::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #d94f5c;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    -webkit-transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
}
.menu--sebastian .menu__link::before {
    top: 0;
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
}
.menu--sebastian .menu__link::after {
    bottom: 0;
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}
.menu--sebastian .menu__item--current .menu__link::before,
.menu--sebastian .menu__item--current .menu__link::after {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
    transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

/*menu styling */

.navigation-menu {
    width: 100%;
    height: 200px;
}
.navbar {
    width: 100%;
}

/*****
#header {
    background: #333;
    width: 100%;
    display: block;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    height: 50px;
    border-bottom: #252525 2px solid;
}
*/


/*******
a {
    text-align: left;
    text-decoration: none;
    font-weight: 300;
}
#nav {
    padding-top: 15px;
    text-align: center;
    margin: 0px auto;
    font-size: 0.8em;
    font-weight: 700;
}
*/


/*
#nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
}
#nav li {
    margin-right: 0px;
    display: inline;
}
#nav ul li a {
    text-decoration: none;
    margin: 0px;
    padding: 10px 20px 0px 15px;
    color: #808080;
}
#nav ul li a:hover {
    color: #cccccc;
    text-decoration: none;
}
#nav li.current-menu-item a {
    color: #ffffff;
    text-decoration: none;
}
#nav li.current_page_item {
    color: #ffffff;
    text-decoration: none;
}
*/


/*********
******Background image
in header*********/


/*The navigation bar */


/************Placing the text-content-paper on the notepad in image ****************/

.content_paper_nme {
    width: 100%;
    height: 500px;
    padding-top: 10%;
    /*    font-size: 3.5em;*/
    font-weight: 700;
    /*    font-family: cursive;*/
    text-transform: uppercase;
    color: #e67e22;
    /*    text-align: center;*/
}
span {
    color: whitesmoke;
    font-size: 1.7em;
    color: whitesmoke;
    font: bold;
    letter-spacing: -1px;
    background: rgb(0, 0, 0);
    /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
}

/*hr css animation */

hr {
    width: 50%;
}
.right {
    left: auto;
    right: 0px;
}
hr#thread1 {
    top: 0.8em;
    border-color: #e67e22;
    -webkit-animation: thread2 6s infinite;
    -moz-animation: thread2 6s infinite;
    -o-animation: thread2 6s infinite;
    animation: thread2 6s infinite;
}
hr#thread3 {
    top: 2.8em;
    border-color: #e67e22;
    -webkit-animation: thread2 6s infinite;
    -moz-animation: thread2 6s infinite;
    -o-animation: thread2 6s infinite;
    animation: thread2 6s infinite;
}
@media (min-width: 992px) {
    hr {}
}
@media (min-width: 1200px) {
    hr {}
}
@-webkit-keyframes thread2 {
    0% {
        width: 100%;
    }
    50% {
        width: 100%;
    }
    80% {
        width: 0px;
    }
    100% {
        width: 100%;
    }
}
@-moz-keyframes thread2 {
    0% {
        width: 100%;
    }
    50% {
        width: 100%;
    }
    80% {
        width: 0px;
    }
    100% {
        width: 100%;
    }
}
@-o-keyframes thread2 {
    0% {
        width: 100%;
    }
    50% {
        width: 100%;
    }
    80% {
        width: 0px;
    }
    100% {
        width: 100%;
    }
}
@keyframes thread2 {
    0% {
        width: 100%;
    }
    50% {
        width: 100%;
    }
    80% {
        width: 0px;
    }
    100% {
        width: 100%;
    }
}

/* End ....hr css animation */

@import "compass/css3";
@include keyframes(bounce) {
    0%,
    20%,
    50%,
    80%,
    100% {
        @include transform(translateY(0));
    }
    40% {
        @include transform(translateY(-30px));
    }
    60% {
        @include transform(translateY(-15px));
    }
}
.arrow {
    position: fixed;
    bottom: 0;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    height: 40px;
    background-image: url(../img/arrows.svg);
    background-size: contain;
}
.bounce {
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

/*added the bouncing arrow using keyframes*/


/*The second row*/

.second {
    /*
    width: 100%;
    height: 300px;
*/
    background-color: antiquewhite;
}
.circle {
    background-image: url(../img/SAM_4079.JPG);
    display: block;
    width: 200px;
    height: 200px;
    margin: 1em auto;
    background-size: cover;
    border: 5px solid #eee;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-border-radius: 99em;
    -moz-border-radius: 99em;
    border-radius: 99em;
}
.about {
    padding-top: 2%;
    text-transform: uppercase;
    font-family: 'Teko', sans-serif;
    font-size: 3em;
    color: #e67e22;
    text-align: center;
}
.text {
    text-align: center;
    color: #292929;
    font-size: 1.3em;
    font-family: 'Teko', sans-serif;
}
.nav_social ul {
    list-style-type: none;
}
.nav_social li {
    list-style-type: none;
    text-decoration: none;
    display: inline-block;
    padding-right: 6px;
}
.nav_social li a {
    text-decoration: none;
}
.nav_social .fa {
    color: #e67e22;
}
.follow {
    padding-left: 6%;
    color: snow;
    text-transform: uppercase;
}

/********  social media icons hover effects *****/

.fa-google-plus-square:hover {
    color: #dd4b39;
}
.fa-twitter-square:hover {
    color: #00aced;
}
.fa-pinterest-square:hover {
    color: #cb2027;
}
.fa-facebook-square:hover {
    color: #3b5998;
}

/********  End hover effects *****/


/*second column in second row*/

.skill {
    font-family: 'Teko', sans-serif;
    color: #e67e22;
    font-size: 30px;
}
.text ul {
    text-decoration: none;
}
.text ul li {
    list-style-type: none;
    text-decoration: none;
}
.text ul li a {
    font-family: 'Teko', sans-serif;
    text-decoration: none;
}

/*****Row three *****/

.three {
    width: 100%;
    background-color: snow;
}
.skillset {
    color: #e67e22;
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: 'Teko', sans-serif;
}
#foto {
    width: 100%;
    height: 5px;
}

/* row four containing blog post and stuff*/

.four {
    height: 500px;
    width: 100%;
    background-color: white;
    padding-top: 1%;
    padding-left: 7%;
    padding-right: 5%;
}
.blogger {
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
.header {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
.formcont {
    height: 180px;
}
.cont {
    font-family: 'Teko', sans-serif;
    font-size: 0.9em;
    color: black;
    text-align: left;
}
.border2 {
    background-color: white;
    padding-top: 4%;
    margin-top: 6%;
    width: 95%;
    border: 8px solid white;
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, .8);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .8);
}

/*row five*/

.skillsetter {
    padding-top: 10%;
    text-align: center;
}
.skillsetter h3 {
    text-transform: uppercase;
    color: #e67e22;
    font-family: 'Teko', sans-serif;
    text-align: center;
    padding-left: 30%;
    width: 100px;
}

/*portfolio*/

.iconic {
    width: 100px;
    height: 100px;
    text-align: center;
}

/*row form */

.footer {
    width: 100%;
    height: 300px;
    opacity: 0.9;
    background-color: #292929;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    bottom: 0pt;
    left: 0pt;
    padding-top: 3%;
}
.copy {
    color: whitesmoke;
    float: left;
    padding-left: 5%;
}

/***Blog page css stars  here ****/

.blog1 {
    height: 250px;
    width: 100%;
}
.white {
    height: 250px;
}
.inspire {
    text-transform: uppercase;
    color: snow;
    font-family: 'Teko', sans-serif;
}
.white ul {
    text-decoration: none;
}
.white ul li {
    display: inline-block;
    list-style-type: none;
    text-decoration: none;
    padding-top: 4%;
    float: right;
    padding-right: 5%;
    font-size: 50px;
}

/*****second row with
heading of blog post******/

.black {
    font-size: 300%;
    padding-left: 22%;
    padding-top: 4%;
    color: black;
    font-family: 'Josefin Sans', sans-serif;
}
.blog2 {
    width: 100%;
    height: 220px;
    background-color: aliceblue;
}

/*forms formatting */

.forms {
    width: 100%;
    height: 550px;
}
.contact-me {
    text-transform: uppercase;
    padding-top: 7%;
    font-size: 2.4em;
    color: #e67e22;
    font-family: 'Teko', sans-serif;
    text-align: center;
}
#contact {
    overflow: auto;
}
#contact #form {
    width: 410px;
}
#contact #form span2 {
    display: block;
    font-size: 2.5em;
    float: left;
    color: black;
    width: 100px;
    padding-top: 5px;
    font: 14px/16px'Bree Serif', Georgia, serif;
}
#contact #form input {
    float: left;
    width: 300px;
    border: 0px;
    color: #F1F1F1;
    padding: 10px 10px 10px 30px;
    font: 11px/20px'Open Sans', Verdana, Helvetica, sans-serif;
    margin-bottom: 10px;
}
#contact #form textarea {
    float: left;
    border: 0px;
    width: 300px;
    height: 140px;
    padding: 10px 10px 10px 30px;
    font: 11px/20px'Open Sans', Verdana, Helvetica, sans-serif;
    color: #F1F1F1;
    resize: none;
}
#contact #form input.name,
#contact #form input.email,
#contact #form textarea.message {
    background: #222222 no-repeat 10px 8px;
}
#contact #form input.submit {
    cursor: pointer;
    width: 85px;
    height: 30px;
    float: right;
    padding: 0px 0px 5px 0px;
    margin: 10px 16px 0px 0px;
    background: #222222;
    color: #F1F1F1;
    font: 14px/16px'Bree Serif', Georgia, serif;
}
.poster {
    height: 220px;
}

/*****third row with
heading of blog post******/

.blog3 {
    width: 100%;
    height: 700px;
    background-color: aliceblue;
    padding-left: 8%;
}
.intro {
    height: auto;
}
.date {
    color: black;
    font-size: 120%;
}
.owner {
    font-family: 'Teko', sans-serif;
    color: #e67e22;
    font-size: 100%;
}
