body {
    width: 100%;
    height: 100%;
    background-color: gray;
    font-size: 18px;
}
.container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.header {
    width: 80%;
    height: 20%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: brown;
}
.main {
    width: 65%;
    height: 70%;
    float: left;
    margin-left: 5%;
    margin-left: background-color: crimson;
}
.top-aside {
    width: 25%;
    height: 10 %;
    float: right;
    margin-left: background-color: grey;
    margin-right: 5%;
}
.middle-aside {
    width: 25%;
    height: 20%;
    float: right;
    margin-left: background-color: grey;
    margin-right: 5%;
}
.bottom-aside {
    width: 25%;
    height: 20%;
    float: right;
    margin-left: background-color: grey;
    margin-right: 5%;
}
